<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DATA STRUCTURE</title>
</head>
<body>
<h1>Java Collection Data Structure - Array List, Set, Map</h1>
<ul>
    <li><a href="http://localhost:8080/groupbynationalitythencount">Bài 1.1: Đếm số người theo từng quốc tịch in ra màn hình</a></li>
    <li><a href="http://localhost:8080/getPersonOver25">Bài 1.2 Sắp xếp theo tên những người trên 25 tuổi rồi in ra màn hình</a></li>
    <li><a href="http://localhost:8080/averageAgePerNationality">Bài 1.3 Tính trung bình tuổi của người theo từng quốc gia</a></li>
    <li><a href="http://localhost:8080/addEvaluation">Bài 1.4 In ra màn hình đánh giá tuổi mỗi người</a></li>
</ul>
</body>
</html>